MO2/crashDumps/
MO2/dlls/
MO2/downloads/*.7z
MO2/downloads/*.zip
MO2/downloads/*.rar
MO2/explorer++/
MO2/licenses/
MO2/logs/
MO2/loot/
MO2/mods/
MO2/NCC/
MO2/overwrite/
MO2/platforms/
MO2/plugins/
MO2/profiles/Default/
MO2/pythoncore/
MO2/QtQml/
MO2/QtQuick.2/
MO2/resources/
MO2/styles/
MO2/stylesheets/
MO2/translations/
MO2/tutorials/
MO2/webcache/
MO2/ModOrganizer.exe
MO2/ModOrganizer.ini
MO2/QtWebEngineProcess.exe
MO2/boost_python38-vc142-mt-x64-1_75.dll
MO2/dump_running_process.bat
MO2/helper.exe
MO2/libcrypto-1_1-x64.dll
MO2/libffi-7.dll
MO2/libssl-1_1-x64.dll
MO2/nxmhandler.exe
MO2/nxmhandler.ini
MO2/nxmhandler.log
MO2/python38.dll
MO2/pythoncore.zip
MO2/uibase.dll
MO2/unins000.dat
MO2/unins000.exe
MO2/usvfs_proxy_x64.exe
MO2/usvfs_proxy_x86.exe
MO2/usvfs_x64.dll
MO2/usvfs_x86.dll
